.subtotal {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    
}

.subtotal__gift {
    display: flex;
    align-item: center;
}

.subtotal__gift > input {
    margin-right: 5px;
}

.subtotal > button {
    background: green;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border : 1px solid;
    margin-top: 10px;
    border-color: lightgreen;
    color: white;
}

.subtotal > button:hover {
    background: lightgreen;
    cursor: pointer;
}